.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 55%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.title-container h1 {
  color: #fff;
  font-size: 36px;
}

.title-container p {
  color: #fff;
  font-size: 18px;
}

.image-side {
  width: 100%;
  height: 100vh;
  background-image: url('https://raw.githubusercontent.com/pointfs/NEWSPAPER/feature-forms-register/client/src/assets/images/background-img-form-signin.jpg');
  background-size: cover;
  background-position: center;
}

.form {
  gap: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  margin: 0 200px;
  border: solid 2px #1A3645;
  border-radius: 10px;
  box-shadow: 0 0 10px #1A3645;
  background: linear-gradient(70deg, #071a21, #041116);
  color: #fff;
}

.form h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.or-subtitle {
  margin: 20px ;
  width: 100%;
  border-bottom: 2px solid #254d63;
}

.social-login {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.social-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid 2px #1A3645;
  border-radius: 10px; /* Ajusta este valor según sea necesario */
  box-shadow: 0 0 10px #1A3645;
  background: linear-gradient(70deg, #071a21, #041116);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.social-login img {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 40px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;

}

label input{
  padding: 10px;
  margin: 0px 10px;
  border-radius: 10px;
  border: solid 2px #1A3645;
}
