.sidebar-container {
    width: 20rem;
    height: 70rem;
    background: linear-gradient(90deg, #0E212C, #1A3645);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 2rem;
}

hr {
    width: 18rem;
    align-self: center;
    margin-top: 2rem;
}

.text-sidebar {
    display: flex;
    color: #fff;
    padding: 10% 20%;
    align-content: center;
    
}

.title-sidebar {
    color: transparent;
    background-image: linear-gradient(60deg, #fff, #000);
    background-clip: text;
    font-weight: 500;
    align-self: center;
    padding-top: 10%;
    font-size: 1.2rem;
}

.social-icons-sidebar {
    width: 10rem;
    margin-left: 3.5rem;
}

.icon-sidebar {
    padding-right: 2rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 15vh;
}

.text-contact-sidebar {
    color: #fff;
    z-index: 1;
}

.contact-bg {
    z-index: 0;
    position: absolute;
    width: 15rem;
    height:15rem;
    border-radius: 40px; 
}

.icon-contact-sidebar, .text-contact-sidebar ,.button-contact-sidebar  {
    position: relative;
    z-index: 1; 
    display: flex;
}

.icon-contact-sidebar{
    width: 2rem;
    padding: 2rem;
}

.button-contact-sidebar {
    width: 13rem;
    height: 2.7rem;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgba(11, 25, 32, 0.75); 
    backdrop-filter: blur(5px); 
    color: #fff; 
    border: none; 
}


