* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logotipo {
    width: 7rem;
    height: 6.5rem;
    padding: 1rem 5rem;
}
.navbar {
    background-color: #041116;
    height: 19.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchBar{
    background-color: none;
    border: solid 0.2px rgba(226, 232, 240, 0.1);
    border-radius: 40px;
    width: 40vw;
    height: 11vh;
    background: linear-gradient(90deg, #0E212C, #1A3645);
    color: #fff;
    text-indent: 60px;
}

.searchIcon {
    color:#fff;
    position: absolute;
    top: 8%;
    left: 38.5%;
}

.searchBar::placeholder {
    color: #999;
    text-indent: 60px;
}
.userContainer{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .logotipo{
        width: 5rem;
        height: 4.5rem;
        padding: 1.75rem;
    }
    .searchBar {
        display: none;
    }

    .searchIcon {
        display: none;
        z-index: -1;
    }
}

